body {
  box-sizing: border-box;
  background: #3E5151;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right bottom, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right bottom, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Nunito', sans-serif;
}

.quizHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoJSQ {
  width: 200px;
  padding-left: 100px;
}

.progress {
  background-color: #DECBA4;
  padding: 0.5rem;
  border-radius: 30px;
  font-size: 1.5rem;
  color: #3E5151;
}

.liveScore {
  background-color:#DECBA4;
  padding: 0.5rem;
  border-radius: 30px;
  font-size: 1.5rem;
  color: #3E5151;
}

.restartBtn {
  background-color: rgb(35, 194, 206);
  padding: 0.5rem;
  border-radius: 30px;
  font-size: 1.5rem;
  color: white;
}

.quizContainer {
  background-color: white;
  padding: 0.5rem;
  border-radius: 30px;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
}

.answer {
  background-color:#DECBA4;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  color: #3E5151;
}

.correct {
  background-color:#93f1ba;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  color: #3e5145;
}

.incorrect {
  background-color:#b32929;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  color:#DECBA4;
}
/* @import url('./list.css');

.side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */
